<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .status {
      display: inline-block;
      height: calc(1em - 2px);
      width: calc(1em - 2px);
      margin: 0 .05em 0 .1em;
      vertical-align: -0.1em;
      border-radius: 50%;
    }
  </style>
  <link rel="stylesheet" href="/style.css">
  <title><%= username %></title>
</head>
<body>
  <img src="<%= pfps['90x90'] %>" width="80" height="80" style="border-radius: 0.45em;">
  <h1><%= username %></h1>
  <p><span class="status" style="background: <%= color %>;"></span> <%= status %></p>
  <p>ID: <%= id %></p>
  <p>Indexed at: <%= indexedAt %></p>
  <p>Country: <%= country %></p>
  <h2>about me</h2>
  <p><%= about %></p>
  <h2>what i'm working on</h2>
  <p><%= wiwo %></p>
  <a href="/users/<%= username %>">view in api</a>
</body>
</html>